@model IEnumerable<datadomain.userrole>


    @{
        ViewBag.Title = "AssignNewRole";

    }
    <h2>AssignNewRole</h2>
    <div id="dropDownDiv">

        <select id="cmbuserrole">
            @{
                foreach (var role in Model)
                {
                    <option value="@role.UserRoleID">@role.UserRoleName</option>
                }
            }


        </select>
        <div class="col-md-offset-2 col-md-10">

            @using (Html.BeginForm("AssignRole", "UserRoles"))
            {

                @Html.Hidden("UserID", ViewBag.UserId)
                @Html.Hidden("RoleID", 1)
                <button type="button" id="Btn" value="Add Role"></button>
                <button type="submit" id="btnSubmit" style="display:none"></button>
            }

        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#btn").click(function () {
                    var roleID = $("#cmbuserrole option:selected").val();
                    var UserID = '@ViewBag.MyVariable';

                    $("hdUserRole").val(roleID);
                    $("hdUserID").val(roleID);

                    $("btnSubmit").click();
                });

            });

            function UserRoleChanged() {

                alert(this);

            }

        </script>
    </div>




